// メインエリアのレイアウトに関わる設定です。

@mixin contents($width: 48rem) {
  width: $width;
  max-width: 100%;
  margin: 0 auto;
}

.l-main {
  padding: 0 1.6rem;

  &.p-0 {
    padding: 0;
  }

  &__contents {
    @include contents();
    padding: 4.8rem 0 8.8rem;

    @include mq(md) {
      padding: 6.4rem 0 4rem;
    }
  }

  &__contents-02 {
    @include contents();
    padding: 4.8rem 0 14rem;

    @include mq(md) {
      padding: 6.4rem 0 12.2rem;
    }
  }

  &__contents-03 {
    padding: 4.8rem 0 14rem;

    @include mq(md) {
      padding: 0 0 12.2rem;
    }
  }

  &__contents-04 {
    @include contents();
    padding: 4.8rem 0 15.6rem;

    @include mq(md) {
      padding: 0 0 12.2rem;
    }
  }

  &__contents-05 {
    @include contents();
    padding: 4.8rem 0 8.8rem;

    @include mq(md) {
      padding: 0 0 4rem;
    }
  }

  &__contents-06 {
    @include contents();
    padding: 4.8rem 0 10.2rem;

    @include mq(md) {
      padding: 0 0 12.2rem;
    }
  }

  &__contents-07 {
    @include contents();
    padding: 4.8rem 0 4rem;

    @include mq(md) {
      padding: 0 0 4rem;
    }
  }

  &__contents-08 {
    @include contents();
    padding: 4.8rem 0 4rem;
  }

  &__contents-09 {
    @include contents();
    padding: 4.8rem 0 10rem;

    @include mq(md) {
      padding: 4.8rem 0 12rem;
    }
  }

  &__contents-10 {
    @include contents();
    padding: 7.2rem 0 4rem;
  }

  &__contents-11 {
    @include contents();
    padding: 0 0 8.8rem;

    @include mq(md) {
    padding: 0 0 4rem;
    }
  }

&__contents-12 {
  @include contents();
  padding: 4.8rem 0 8.8rem;

  @include mq(md) {
    padding: 4.8rem 0 4rem;
    }
  }

  &__contents-13 {
    @include contents(34.3rem);
    padding: 7.2rem 0 8.8rem;

    @include mq(md) {
      padding: 2.4rem 0 4rem;
      }
    }

  &__contents-address {
    @include contents();
    display: flex;
  }

  &__contents-address-02 {
    @include contents();
    display: flex;

    @include mq(md) {
      padding: 4.6rem 0 8rem;
    }
  }
}

