// モーダルのレイアウトに関わる設定です。

.l-modal {
  // display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 900;

  &.active {
    display: block;
  }

  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 1.6rem;
  }

  &.tab-show {
    @include mq(lg) {
      display: none;
    }
  }

  &.pc-hide {
    @include mq(lg) {
      display: none;
    }
  }
}
